# DataScience - Projeto ADA

#### Integrantes
- Eduardo Chimchek Jeronimo
- Gabriel Rosso
- João Augusto da silva borges
- Josiane Rodrigues

### Limpeza dos dados

In [62]:
#!pip install pandas
#!pip install numpy

import pandas as pd
import numpy as np

In [63]:
dadosAllFields  = pd.read_csv('../Data/issues_all_fields.csv')
dadosUnidos = pd.read_csv('../Data/issues_main_fields.csv')
dadosParents    = pd.read_csv('../Data/parents.csv')

dadosUnidos = pd.merge(dadosUnidos, dadosAllFields, how = 'inner', on = 'Key')

##dadosUnidos


#dadosAllFields
#dadosMainFields
#dadosParents

## Comprovando que o x e y são mesmos valores

In [64]:
dadosUnidos2 = dadosUnidos[['Designer_x','Designer_y']]


dadosUnidos2

          Designer_x      Designer_y
0                NaN             NaN
1                NaN             NaN
2                NaN             NaN
3                NaN             NaN
4                NaN             NaN
...              ...             ...
2174  Gabrieli Souza  Gabrieli Souza
2175  Gabrieli Souza  Gabrieli Souza
2176  Gabrieli Souza  Gabrieli Souza
2177  Gabrieli Souza  Gabrieli Souza
2178  Gabrieli Souza  Gabrieli Souza

[2179 rows x 2 columns]

## Dropando as colunas y

In [65]:
dadosUnidos = dadosUnidos.drop(dadosUnidos.filter(regex='_y').columns, axis=1)

### Colunas

In [66]:
#dadosAllFields.columns
#dadosMainFields.columns
#dadosParents.columns

dadosUnidos.columns

Index(['Key', 'parent_x', 'Summary_x', 'Assignee_x', 'Designer_x', 'Devs_x',
       'Issue Type_x', 'Status_x', 'Story point estimate_x', 'Created',
       'Resolved_x', 'Creator_x', 'DesignEndTaskDate', 'DesignStartTaskDate',
       'EndResolution', 'EndSubTaskDate', 'Epic Link', 'Epic Link.Name',
       'Reporter', 'RequirementsEndTaskDate', 'RequirementsStartTaskDate',
       'Start date', 'StartResolution', 'Sprint', 'StartSubTaskDate',
       'Status Transition', 'Time tracking'],
      dtype='object')

### Formatando Nomes
Para facilitar o entendimento do nome das colunas e do uso das mesmas ao longo do código, será feito uma formatação para remover caracteres especiais e espaçamentos além de padronizar tudo para minúscula e no formato snake_case

In [67]:
##!pip install unidecode

from unidecode import unidecode

def formatColumnName(column):
    newName = unidecode(column).lower()
    newName = newName.replace('.', '')
    newName = newName.replace('_x', '')
    newName = newName.replace(' ', '_')
    return newName

In [68]:
newNamesDict = dict()

for column in dadosUnidos.columns:
    newNamesDict[column] = formatColumnName(column)

newNamesDict

{'Key': 'key',
 'parent_x': 'parent',
 'Summary_x': 'summary',
 'Assignee_x': 'assignee',
 'Designer_x': 'designer',
 'Devs_x': 'devs',
 'Issue Type_x': 'issue_type',
 'Status_x': 'status',
 'Story point estimate_x': 'story_point_estimate',
 'Created': 'created',
 'Resolved_x': 'resolved',
 'Creator_x': 'creator',
 'DesignEndTaskDate': 'designendtaskdate',
 'DesignStartTaskDate': 'designstarttaskdate',
 'EndResolution': 'endresolution',
 'EndSubTaskDate': 'endsubtaskdate',
 'Epic Link': 'epic_link',
 'Epic Link.Name': 'epic_linkname',
 'Reporter': 'reporter',
 'RequirementsEndTaskDate': 'requirementsendtaskdate',
 'RequirementsStartTaskDate': 'requirementsstarttaskdate',
 'Start date': 'start_date',
 'StartResolution': 'startresolution',
 'Sprint': 'sprint',
 'StartSubTaskDate': 'startsubtaskdate',
 'Status Transition': 'status_transition',
 'Time tracking': 'time_tracking'}

In [69]:
dadosUnidos = dadosUnidos.rename(columns=newNamesDict)

### Verificando Tipo de Dados
Precisamos verificar os tipos de dados que contem em cada coluna e com essa informação fazer o tratamento dos dados de forma adequada.

In [70]:
dadosUnidos['created'].unique()

array(['25/09/2023 04:56:08', '25/09/2023 04:54:38',
       '25/09/2023 04:52:56', ..., '10/10/2022 06:29:43',
       '14/10/2022 06:37:11', '10/10/2022 06:29:58'], dtype=object)

In [71]:
dadosUnidos['resolved'].unique()

array([nan, '22/09/2023 12:47:24', '22/09/2023 12:51:56', ...,
       '27/02/2023 03:37:15', '23/01/2023 04:31:51',
       '23/01/2023 04:31:47'], dtype=object)

In [72]:
dadosUnidos = dadosUnidos[(~pd.isnull(dadosUnidos['startresolution']))]
dadosUnidos = dadosUnidos.reset_index(drop=True)

dadosUnidos = dadosUnidos[(~pd.isnull(dadosUnidos['endresolution']))]
dadosUnidos = dadosUnidos.reset_index(drop=True)

dadosUnidos = dadosUnidos[(~pd.isnull(dadosUnidos['devs']))]
dadosUnidos = dadosUnidos.reset_index(drop=True)

dadosUnidos = dadosUnidos[(~pd.notnull(dadosUnidos['designendtaskdate']))]
dadosUnidos = dadosUnidos.reset_index(drop=True)

dadosUnidos = dadosUnidos[(~pd.notnull(dadosUnidos['designstarttaskdate']))]
dadosUnidos = dadosUnidos.reset_index(drop=True)

dadosUnidos = dadosUnidos[(~pd.notnull(dadosUnidos['designer']))]
dadosUnidos = dadosUnidos.reset_index(drop=True)

In [73]:

dadosLimpos = dadosUnidos[['parent','assignee','devs','issue_type','endresolution','startresolution','sprint']]
dadosLimpos.head()

,parent,assignee,devs,issue_type,endresolution,startresolution,sprint
0,SA-2,Yan Fagundes,Jean Carlos,Bug,22/09/2023 16:47:24,22/09/2023 09:18:10,Sprint 68
1,SA-2,Yan Fagundes,Jean Carlos,Bug,22/09/2023 16:51:56,22/09/2023 09:26:58,Sprint 68
2,SA-2,Yan Fagundes,Jean Carlos;Luiz Gustavo,Bug,22/09/2023 16:48:27,22/09/2023 09:55:29,Sprint 68
3,SA-2,Yan Fagundes,Jean Carlos,Bug,22/09/2023 16:49:39,22/09/2023 09:01:01,Sprint 68
4,SA-3947,Yan Fagundes,Luiz Gustavo,Task,22/09/2023 10:28:00,20/09/2023 15:15:53,Sprint 68

### Gerando Totais de sprints de cada registro

In [74]:
# Função para contar o número de sprints em uma célula
def contar_sprints(s):
    return s.count(';') + 1 if isinstance(s, str) else 0

In [75]:
# Criar uma nova coluna 'total_sprints' com o número total de sprints
dadosLimpos.loc[:, 'total_sprints'] = dadosLimpos['sprint'].apply(contar_sprints)

/home/eduardoj/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/eduardoj/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [76]:
dadosLimpos = dadosLimpos.drop(columns='sprint')

### Gerando uma nova coluna que é diferença entre as datas de startresolution e endresolution

In [77]:
# Converter colunas para o tipo datetime
dadosLimpos['endresolution'] = pd.to_datetime(dadosLimpos['endresolution'], format='%d/%m/%Y %H:%M:%S')
dadosLimpos['startresolution'] = pd.to_datetime(dadosLimpos['startresolution'], format='%d/%m/%Y %H:%M:%S')

# Calcular a diferença entre as colunas
dadosLimpos['tempo_resolucao'] = (dadosLimpos['endresolution'] - dadosLimpos['startresolution']).dt.total_seconds().astype(int)

In [78]:
dadosLimpos = dadosLimpos.drop(columns=['startresolution','endresolution'])

### Identificando e removendo as colunas de equipes de devs

In [79]:
# Converte a coluna 'devs' em uma lista de strings
devs_list = dadosLimpos['devs'].str.split(';')

# Filtra os registros com apenas um dev
dadosLimpos = dadosLimpos[devs_list.apply(len) == 1]

### Transfomando os valores para binarios

In [80]:

cols_to_dummies = ["parent","assignee","devs","issue_type"]
df_with_dummies = pd.get_dummies(dadosLimpos, columns=cols_to_dummies, drop_first=True)
dadosLimpos = pd.concat([dadosLimpos[cols_to_dummies], df_with_dummies], axis=1)

### Convertendo "true" e "false" to "1" e "0"

In [81]:
# Selecionar colunas que começam com 'parent_'
parent_columns = dadosLimpos.columns[dadosLimpos.columns.str.startswith('parent_')]
# Selecionar colunas que começam com 'assignee_'
assignee_columns = dadosLimpos.columns[dadosLimpos.columns.str.startswith('assignee_')]
# Selecionar colunas que começam com 'devs_'
devs_columns = dadosLimpos.columns[dadosLimpos.columns.str.startswith('devs_')]
# Selecionar colunas que começam com 'issue_type_'
issue_type_columns = dadosLimpos.columns[dadosLimpos.columns.str.startswith('issue_type_')]

# Converter valores booleanos para inteiros nas colunas 'parent_'
dadosLimpos[parent_columns] = dadosLimpos[parent_columns].astype(int)

# Converter valores booleanos para inteiros nas colunas 'assignee_'
dadosLimpos[assignee_columns] = dadosLimpos[assignee_columns].astype(int)

# Converter valores booleanos para inteiros nas colunas 'devs_'
dadosLimpos[devs_columns] = dadosLimpos[devs_columns].astype(int)

# Converter valores booleanos para inteiros nas colunas 'issue_type_'
dadosLimpos[issue_type_columns] = dadosLimpos[issue_type_columns].astype(int)

In [82]:
#Deletando as colunas após já ter feito a transformação
dadosLimpos = dadosLimpos.drop(columns=['parent','assignee','devs','issue_type'])

### Mudando o nome das colunas de binarios

In [83]:
dadosLimpos.to_csv('../Data/dados_limpos.csv', index=False)